<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quote Page</title>
        <link rel="stylesheet" href="../stylesheets/style.css">
    </head>
    <body>
        <div id="content">
            <h1>You are Visitor #<%= counter %></h1>
            <% if (counter % 2 === 1) { %>
                <h2>"Beat the odds"</h2>
            <% } else { %>
                <h2>"Even flowers need rain"</h2>
            <% } %>
        </div>
        <form action="/reset" method="post">
            <input type="submit" value="RESET">
        </form>
        <form action="/repeat" method="post">
            <input type="submit" value="REPEAT">
        </form>
    </body>
</html>