
body {
	background-color: white;
	color: white;
	text-align: center;
}
form {
	background-color: white;
	display: inline-block;
	padding: 20px;
	text-align: left;
}
form input {
	padding: 4px;
}
input[type='submit'] {
	background-color: #767676;
	color: white;
    box-shadow: 2px 2px blue;
    margin-left: 265px;
}
textarea {
	display: block;
	padding: 10px;
	text-align: left;
	width: 300px;
	margin-bottom: 10px;
}
#courseName{
    width: 180px;
    padding: 5px;
}
#result{
    background-color: white;
	display: inline-block;
	padding: 40px;
	text-align: left;
    border-radius: 5px;
    margin-top: 100px;
}
a, p, h1{
    color: black;
}
a{
    background-color: #767676;
	color: black;
    box-shadow: 2px 2px blue;
    margin-left: 265px;
}
