<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Theaters</title>
        <link rel="stylesheet" href="../stylesheets/style.css">
    </head>
    <body>
        <h1>theater</h1>
        <div id="theaters">
            <img src="../images/t1.jpg" alt="">
            <p>Pacific Mall</p>
            <img src="../images/t2.jpg" alt="">
            <p>London</p>
            <img src="../images/t3.jpg" alt="">
            <p>SM Mall</p>
        </div>
    </body>
</html>