<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>1942 Multiplayer</title>
        <link rel="stylesheet" href="../stylesheets/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script>
			let plane = [];
			let player_count = 0; 
			let player_number;
			let name = prompt('Player Name:');
			let socket = io();

			socket.emit('player_detected', { name: name });
			
			socket.on('display_plane', function(res){
				//player_count - to avoid duplicate for prior clients.
				for(let i = player_count; i < res.players.length; i++){
					plane.push(res.players[i]);
					let css = `style = "background: url('/img/1942.gif'); background-position: -85px -180px; width:28px; height:28px; position:absolute;"`
					$('#container').append(`<div id='${plane[i].name}' ${css}><span>${plane[i].name}</span></div>`);
					displayPlane(plane[i]);
					player_count++;
				}
			})
			
			socket.emit('get_player_number');
			
			socket.on('give_player_number', function(res) {
				console.log(res.player_number);
				player_number = res.player_number;
			})
			socket.on('movement_x', function(res){
				plane[res.player_number].x = res.x;
				displayPlane(plane[res.player_number]);
			})
			
			socket.on('movement_y', function(res){
				plane[res.player_number].y = res.y;
				displayPlane(plane[res.player_number]);
			})
			socket.on('display_bullets', function(res){
				document.getElementById('bullets').innerHTML = res.output;
			})
			
			socket.on('display_enemies', function(res){
				document.getElementById('enemies').innerHTML = res.output;
			})
			
			socket.on('detect_bullet_collision', function(res){
				document.getElementById('enemies').innerHTML = res.output;
				soundEffects.play();
			})
			
			socket.on('detect_enemy_collision', function(res){
				document.getElementById('enemies').innerHTML = res.output;
				soundEffects.play();
			})
			
			socket.on('end_game', function(res){
				window.confirm(res.msg);
			})
			socket.on('display_score', function(res){
				document.getElementById('score').innerHTML = res.output;
			})

			document.addEventListener('keydown', function(e){
				if(e.keyCode == 37){//left
					plane[player_number].x -= 20;
					socket.emit('move_x', { x: plane[player_number].x, player_number: player_number  });
				}
				else if(e.keyCode == 39){//right
					plane[player_number].x += 20;
					socket.emit('move_x', { x: plane[player_number].x, player_number: player_number });
				}
				else if(e.keyCode == 38){//up
					plane[player_number].y -= 20;
					socket.emit('move_y', { y: plane[player_number].y, player_number: player_number });
				}
				else if(e.keyCode == 40){//down
					plane[player_number].y += 20;
					socket.emit('move_y', { y: plane[player_number].y, player_number: player_number });
				}
				else if(e.keyCode == 32){
					socket.emit('got_bullets', { x: plane[player_number].x + 8, y: plane[player_number].y - 15 });
				}
			});
			function displayPlane(plane){
				document.getElementById(plane.name).style['top'] = plane.y + "px";
				document.getElementById(plane.name).style['left'] = plane.x + "px";
			}
        </script>
    </head>
    <body>
        <div id="container">
            <div id="enemies"></div>
            <div id="bullets"></div>
        </div>
        <div id="score"></div>
        <audio id="soundEffects" src="../effects/explosion.wav" type="audio/mpeg"></audio>
    </body>
</html>