body{
    background-color:black;
}
#container{
    background-image: url('/img/ph.png');
    background-repeat: no-repeat;
    background-position: center;
    height:600px;
    text-align: center;
}
#hero{
    background: url('/img/1942.gif');
    background-position: -85px -180px;
    width:28px;
    height:28px;
    position:absolute;
}
span{
    left: 25px;
    top: 10px;
    color: white;
    font-size: 8pt;
    position:absolute;
}
.enemy1{
    background: url('/img/1942.gif');
    background-position: -30px -10px;
    width:28px;
    height:28px;
    position:absolute;
}
.enemy2{
    background: url('/img/1942.gif');
    background-position: -180px -10px;
    width:28px;
    height:28px;
    position:absolute;
}
.bullet{
    background: url('/img/1942.gif');
    background-position: -185px -400px;
    width:18px;
    height:18px;
    position:absolute;
}
#score{
    position:absolute;
    top:20px;
    background-color:white;
    color: blue;
    padding:7px;
    font-size:30px;
    font-family: Arial;	
}
