*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    /* outline: 1px dotted red; */
}

body {
    background-color: yellow;
}

div.container{
    margin: 0px auto;
    margin-top: 30px;
    width: 700px;
    outline: 3px dotted red;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}
    div.container header{
        margin: 10px 0px;
    }
        header h1{
            display: inline-block;
            margin-left: 15%;
        }
        header div.urls{
            display: inline-block;
            margin-left: 5%;
        }
            div.urls a{
                font-size: 14pt;
                margin: 0px 5px;
                color: blue
            }
    div.container ul{
        margin: 0px auto;
        padding: 5px 5px;
        border: 1px solid black;
        list-style-type: none;
        width: 60%;
        text-align: left;
        height: 250px;
        overflow: auto;
    }
        ul li{
            margin: 5px 0px;
            font-size: 14pt;
        }
    div.container div.buttons{
        margin: 0px auto;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 60%;
        text-align: center;
    }
    div.buttons button{
        padding: 5px 13px;
        border:  1px solid black;
        box-shadow: 2px 2px black;
        background-color: yellow;
        color: white;
        font-size: 14pt;
        margin: 0px 10px;
    }
    div.buttons button.all{
        background-color: #009e0f;
}