body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    color: white;
    margin-top: 50px;
    margin-left: 400px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    width: 575px;
    height: 385px;

background: #1B244A;
}
.home{
    /* board-title-home */
    position: absolute;
    width: 149px;
    height: 36px;
    left: 85px;
    top: 30px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */
    text-align: center;
    color: #EEEEEE;
}
.guest{
    /* board-title-home */
    position: absolute;
    width: 149px;
    height: 36px;
    left: 340px;
    top: 30px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */
    text-align: center;
    color: #EEEEEE;
}
.home p{
    /* background */
    width: 155px;
    height: 100px;
    background: #080001;
    border-radius: 5px;
}
.guest p{
    /* background */
    width: 155px;
    height: 100px;
    background: #080001;
    border-radius: 5px;
}
.home span{
    width: 117px;
    height: 120px;
    left: 355px;
    top: 100px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */
    text-align: center;
    color: #F94F6D;
}
.guest span{
    width: 117px;
    height: 120px;
    left: 355px;
    top: 100px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */
    text-align: center;
    color: #F94F6D;
}
button{
    /* Rectangle 6 */
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    left: 1px;
    top: 271px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
}
#new_game{
    width: 80px;
    left: 250px;
    top: 21px;
    position: absolute;
}
#home_lead{
    font-size: 18px;
    position: relative;
    top: 120px;
    left: 1px;
    color: red;
    font-style: italic;
}
#guest_lead{
    font-size: 18px;
    position: relative;
    top: 120px;
    left: 20px;
    color: red;
    font-style: italic;
}
